<?xml version="1.0" encoding="UTF-8"?>
<web-app id="fcrepo" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>Fedora Repository Server</display-name>
  <listener>
    <listener-class>org.fcrepo.server.utilities.LogSetupContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.fcrepo.server.utilities.CleanupContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml,file:${fedora.home}/server/config/spring/web/*.xml</param-value>
  </context-param>
  <context-param>
    <param-name>propertyConfigLocation</param-name>
    <param-value>file:${fedora.home}/server/config/spring/web/web.properties</param-value>
  </context-param>
  <servlet>
    <display-name>CXF Servlet</display-name>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <display-name>CXF Upload Servlet</display-name>
    <servlet-name>CXFUploadServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <init-param>
      <param-name>config-location</param-name>
      <param-value>file:${fedora.home}/server/config/spring/web/jaxrs/upload-jaxrs.xml</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <display-name>CXF Objects Servlet</display-name>
    <servlet-name>CXFObjectsServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <init-param>
      <param-name>config-location</param-name>
      <param-value>file:${fedora.home}/server/config/spring/web/jaxrs/objects-jaxrs.xml</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <display-name>CXF Schema Servlet</display-name>
    <servlet-name>CXFSchemaServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <init-param>
      <param-name>config-location</param-name>
      <param-value>file:${fedora.home}/server/config/spring/web/jaxrs/schema-jaxrs.xml</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
<!--   <servlet>
    <display-name>CXF Describe Servlet</display-name>
    <servlet-name>CXFDescribeServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <init-param>
      <param-name>config-location</param-name>
      <param-value>file:${fedora.home}/server/config/spring/web/jaxrs/describe-jaxrs.xml</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet> -->
  <servlet>
    <display-name>Fedora Access Servlet</display-name>
    <servlet-name>AccessServlet</servlet-name>
    <servlet-class>org.fcrepo.server.access.FedoraAccessServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Controller Servlet (start, stop, get server
      status)</display-name>
    <servlet-name>ControlServlet</servlet-name>
    <servlet-class>org.fcrepo.server.ServerController</servlet-class>
    <init-param>
      <param-name>fedora.home</param-name>
      <param-value>/tmp/fcrepo</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <display-name>Fedora Datastream Resolver Servlet</display-name>
    <servlet-name>DatastreamResolverServlet</servlet-name>
    <servlet-class>org.fcrepo.server.access.dissemination.DatastreamResolverServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Repository Description Servlet</display-name>
    <servlet-name>DescribeRepositoryServlet</servlet-name>
    <servlet-class>org.fcrepo.server.access.DescribeRepositoryServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Search Servlet</display-name>
    <servlet-name>FieldSearchServlet</servlet-name>
    <servlet-class>org.fcrepo.server.access.FieldSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora PID Generator Servlet</display-name>
    <servlet-name>GetNextPIDServlet</servlet-name>
    <servlet-class>org.fcrepo.server.management.GetNextPIDServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Object History Servlet</display-name>
    <servlet-name>GetObjectHistoryServlet</servlet-name>
    <servlet-class>org.fcrepo.server.access.GetObjectHistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora List Datastreams Servlet</display-name>
    <servlet-name>ListDatastreamsServlet</servlet-name>
    <servlet-class>org.fcrepo.server.access.ListDatastreamsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora List Methods Servlet</display-name>
    <servlet-name>ListMethodsServlet</servlet-name>
    <servlet-class>org.fcrepo.server.access.ListMethodsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Method Parm Resolver Servlet</display-name>
    <servlet-name>MethodParameterResolverServlet</servlet-name>
    <servlet-class>org.fcrepo.server.access.MethodParameterResolverServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora OAI Provider Servlet</display-name>
    <servlet-name>OAIProviderServlet</servlet-name>
    <servlet-class>org.fcrepo.server.oai.FedoraOAIProviderServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Resource Index Search Servlet</display-name>
    <servlet-name>RISearchServlet</servlet-name>
    <servlet-class>org.fcrepo.server.access.RISearchServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora Upload Servlet (accepts HTTP POST to upload a
      file and sends back an identifier)</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>org.fcrepo.server.management.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>Fedora User Servlet. Provides an XML representation of
      a
      currently logged in user</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>org.fcrepo.server.security.jaas.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>WSDL Servlet</display-name>
    <servlet-name>WSDLServlet</servlet-name>
    <servlet-class>org.fcrepo.server.access.WSDLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccessServlet</servlet-name>
    <url-pattern>/get/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControlServlet</servlet-name>
    <url-pattern>/management/control</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatastreamResolverServlet</servlet-name>
    <url-pattern>/getDS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatastreamResolverServlet</servlet-name>
    <url-pattern>/getDSAuthenticated</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FieldSearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetObjectHistoryServlet</servlet-name>
    <url-pattern>/getObjectHistory/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNextPIDServlet</servlet-name>
    <url-pattern>/management/getNextPID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListDatastreamsServlet</servlet-name>
    <url-pattern>/listDatastreams/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListMethodsServlet</servlet-name>
    <url-pattern>/listMethods/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MethodParameterResolverServlet</servlet-name>
    <url-pattern>/getAccessParmResolver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OAIProviderServlet</servlet-name>
    <url-pattern>/oai</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>RISearchServlet</servlet-name>
    <url-pattern>/risearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/management/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WSDLServlet</servlet-name>
    <url-pattern>/wsdl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CXFUploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DescribeRepositoryServlet</servlet-name>
    <url-pattern>/describe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CXFObjectsServlet</servlet-name>
    <url-pattern>/objects/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CXFSchemaServlet</servlet-name>
    <url-pattern>/schema/*</url-pattern>
  </servlet-mapping>

  <!-- Spring security -->
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>100</error-code>
    <location>/jsp/continue-100.jsp</location>
  </error-page>
  <error-page>
    <exception-type>
      org.fcrepo.server.errors.servletExceptionExtensions.Continue100Exception</exception-type>
    <location>/jsp/continue-100.jsp</location>
  </error-page>
  <error-page>
    <exception-type>
      org.fcrepo.server.errors.servletExceptionExtensions.Ok200Exception</exception-type>
    <location>/jsp/ok-200.jsp</location>
  </error-page>
  <error-page>
    <exception-type>
      org.fcrepo.server.errors.servletExceptionExtensions.BadRequest400Exception</exception-type>
    <location>/jsp/bad-request-400.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/jsp/unauthorized-401.jsp</location>
  </error-page>
  <error-page>
    <exception-type>
      org.fcrepo.server.errors.servletExceptionExtensions.Unauthorized401Exception</exception-type>
    <location>/jsp/unauthorized-401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/jsp/forbidden-403.jsp</location>
  </error-page>
  <error-page>
    <exception-type>
      org.fcrepo.server.errors.servletExceptionExtensions.Forbidden403Exception</exception-type>
    <location>/jsp/forbidden-403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/notfound-404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>
      org.fcrepo.server.errors.servletExceptionExtensions.NotFound404Exception</exception-type>
    <location>/jsp/notfound-404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>
      org.fcrepo.server.errors.servletExceptionExtensions.InternalError500Exception</exception-type>
    <location>/jsp/internal-error-500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/jsp/internal-error-500.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/jsp/unavailable-503.jsp</location>
  </error-page>
  <error-page>
    <exception-type>
      org.fcrepo.server.errors.servletExceptionExtensions.Unavailable503Exception</exception-type>
    <location>/jsp/unavailable-503.jsp</location>
  </error-page>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Fedora Repository Server</realm-name>
  </login-config>
  <security-role>
    <role-name>administrator</role-name>
  </security-role>
</web-app>
