<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%t] (%c{1}) %m%n"/>
    </layout>
  </appender>

  <appender name="LogFile" class="org.apache.log4j.FileAppender">
    <!-- After ANT is gone, swap line below
    <param name="File" value="target/test.log" /> -->
    <param name="File" value="build/junit/test.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%t] (%c{1}) %m%n"/>
    </layout>
  </appender>

  <root>
    <priority value="WARN" />
    <appender-ref ref="LogFile"/>
  </root>
  
</log4j:configuration>
